/* You can add global styles to this file, and also import other style files */
@import "app/styles/pink-bluegrey.css";
/* angular-cli file: src/styles.css */
@import "../node_modules/angular-calendar/css/angular-calendar.css";

body {
    background-color: #696969;
    color: white;
    font-family: Roboto,"Helvetica Neue",sans-serif;
}
